.navbar {
  height: 80px;
  background: #000;
  border-bottom: 1px solid #222;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  padding: 0 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  color: white;
  font-size: 1.6rem;
  font-weight: 900;
  text-decoration: none;
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.navbar-menu a:hover {
  opacity: 0.8;
}

.logout-btn {
  background: #fff;
  color: #000;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}